.collab-box {
    /* margin-left: 14%;
    margin-top: 20%; */
}

.collab-txt {
    font-family: 'Playfair Display', serif;
    font-weight: 900;
    color: white;
    font-size: 60px;
}

@media (max-width: 480px) {
    .collab-txt {
        font-size: 30px;
    }
}